
@mixin gradient( $group ) {
  // hotel
  @if $group == hotel {
    background: $color-group--hotel-light; /* Old browsers */
    background: -moz-linear-gradient(top, $color-group--hotel-light 0%, $color-group--hotel-dark 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color-group--hotel-light 0%, $color-group--hotel-dark 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color-group--hotel-light 0%, $color-group--hotel-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-group--hotel-light', endColorstr='$color-group--hotel-dark',GradientType=0 ); /* IE6-9 */
  }
  // poi
  @if $group == poi {
    background: $color-group--poi-light; /* Old browsers */
    background: -moz-linear-gradient(top, $color-group--poi-light 0%, $color-group--poi-dark 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color-group--poi-light 0%, $color-group--poi-dark 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color-group--poi-light 0%, $color-group--poi-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-group--poi-light', endColorstr='$color-group--hotel-dark',GradientType=0 ); /* IE6-9 */
  }
  // beach
  @if $group == beach {
    background: $color-group--beach-light; /* Old browsers */
    background: -moz-linear-gradient(top, $color-group--beach-light 0%, $color-group--beach-dark 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color-group--beach-light 0%, $color-group--beach-dark 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color-group--beach-light 0%, $color-group--beach-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-group--beach-light', endColorstr='$color-group--beach-dark',GradientType=0 ); /* IE6-9 */
  }
  // hike
  @if $group == hike {
    background: $color-group--hike-light; /* Old browsers */
    background: -moz-linear-gradient(top, $color-group--hike-light 0%, $color-group--hike-dark 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color-group--hike-light 0%, $color-group--hike-dark 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color-group--hike-light 0%, $color-group--hike-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-group--hike-light', endColorstr='$color-group--hike-dark',GradientType=0 ); /* IE6-9 */
  }
  // bike
  @if $group == bike {
    background: $color-group--bike-light; /* Old browsers */
    background: -moz-linear-gradient(top, $color-group--bike-light 0%, $color-group--bike-dark 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, $color-group--bike-light 0%, $color-group--bike-dark 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $color-group--bike-light 0%, $color-group--bike-dark 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-group--bike-light', endColorstr='$color-group--bike-dark',GradientType=0 ); /* IE6-9 */
  }

}



