<!-- rampWrapper -->
<div class="rampWrapper">

	<!-- rampLogin -->
	<div class="rampLogin">
		<div class="rampLogin__inner">

			<!-- header -->
			<div class="rampLogin__header">
				RAMP
				<img src="design/ramp-logo.png" alt="ramp">
			</div>

			<!-- content -->
			<div class="rampLogin__content">

				<!-- info -->
				<div class="rampLogin__info">
					Melden Sie sich beim <b>Ra</b>ccoon <b>P</b>ackage <b>M</b>anager an.
				</div>

				<!-- error -->
				<div class="rampLogin__error">
					Die Kombination aus Benutzername und Passwort ist ungültig.
					Bitte versuchen Sie es erneut.
				</div>

				<!-- form -->
				<form class="" action="" method="post" novalidate>

					<!-- username -->
					<div class="rampLogin__input rampLogin__input--user">
						<input type="text" id="username" value="" required="required">
						<label for="username">Benutzername</label>
						<span></span>
					</div>

					<!-- password -->
					<div class="rampLogin__input rampLogin__input--pw">
						<input type="password" id="password" value="" required="required">
						<label for="password">Passwort</label>
						<span></span>
					</div>

					<!-- button -->
					<button class="rampLogin__button">
						<span>anmelden</span>
					</button>

				<!-- // form -->
				</form>

			<!-- // content -->
			</div>

			<!-- success -->
			<div class="rampLogin__success">
				Anmeldung erfolgreich!
				<span>Sie werden weitergeleitet...</span>
			</div>

		</div>
	</div>
	<!-- // rampLogin -->

</div>
