//*--------------------------------------------------------------*
//  ctaButton
//*--------------------------------------------------------------*
//
.ctaButton {

	a {
		display: inline-block;
		color: $color-text-1;
		position: relative;
		padding: 5px 40px 5px 0;
		line-height: 20px;
		text-align: right;
		font-weight: $font-weight--bold;
	}

	// position
	&--center {
		text-align: center;
	}
	&--right {
		text-align: right;
	}

	// uppercase
	&--uppercase {
		text-transform: uppercase;
	}

}
