@font-face {
  font-family: 'gysfont';
  src:  url('../_fonts/gysfont.eot?gokg1p');
  src:  url('../_fonts/gysfont.eot?gokg1p#iefix') format('embedded-opentype'),
    url('../_fonts/gysfont.ttf?gokg1p') format('truetype'),
    url('../_fonts/gysfont.woff?gokg1p') format('woff'),
    url('../_fonts/gysfont.svg?gokg1p#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gys-"]:before, [class*=" gys-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'gysfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}




.gys-arrow-down {
  &:before {
    content: $gys-arrow-down;
  }
}
.gys-arrow-left {
  &:before {
    content: $gys-arrow-left;
  }
}
.gys-arrow-right {
  &:before {
    content: $gys-arrow-right;
  }
}
.gys-arrow-up {
  &:before {
    content: $gys-arrow-up;
  }
}
.gys-beach-active {
  &:before {
    content: $gys-beach-active;
  }
}
.gys-beach-family {
  &:before {
    content: $gys-beach-family;
  }
}
.gys-beach-party {
  &:before {
    content: $gys-beach-party;
  }
}
.gys-beach-relax {
  &:before {
    content: $gys-beach-relax;
  }
}
.gys-beach {
  &:before {
    content: $gys-beach;
  }
}
.gys-check {
  &:before {
    content: $gys-check;
  }
}
.gys-close {
  &:before {
    content: $gys-close;
  }
}
.gys-out-cycle {
  &:before {
    content: $gys-out-cycle;
  }
}
.gys-out-distance {
  &:before {
    content: $gys-out-distance;
  }
}
.gys-out-level {
  &:before {
    content: $gys-out-level;
  }
}
.gys-out-time {
  &:before {
    content: $gys-out-time;
  }
}
.gys-out-walking {
  &:before {
    content: $gys-out-walking;
  }
}
.gys-POI-A {
  &:before {
    content: $gys-POI-A;
  }
}
.gys-poi-activity {
  &:before {
    content: $gys-poi-activity;
  }
}
.gys-POI-B {
  &:before {
    content: $gys-POI-B;
  }
}
.gys-poi-eatdrink {
  &:before {
    content: $gys-poi-eatdrink;
  }
}
.gys-poi-hotel {
  &:before {
    content: $gys-poi-hotel;
  }
}
.gys-poi-information {
  &:before {
    content: $gys-poi-information;
  }
}
.gys-poi-more {
  &:before {
    content: $gys-poi-more;
  }
}
.gys-poi-publicfacilty {
  &:before {
    content: $gys-poi-publicfacilty;
  }
}
.gys-poi-sight {
  &:before {
    content: $gys-poi-sight;
  }
}
.gys-poi-target {
  &:before {
    content: $gys-poi-target;
  }
}
.gys-menue {
  &:before {
    content: $gys-menue;
  }
}
