.gysControl {
  background: rgba(#000,.15);
  padding: 15px 20px;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;

  ul {
    list-style: none;
  }

  li {
    width: 70px;
    height: 36px;
    border-radius: 18px;
    position: relative;
    background: $color-brand-primary;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }


  // chk
  &__chk {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;

    &:before,
    &:after {
      @extend .gysIcon;
      content: $gys-arrow-left;
      color: rgba($color-text-3,.55);
      position: absolute;
      left: 10px;
      top: 50%;
      font-size: 12px;
      transform: translateY(-50%);
      z-index: $z-index--base;
    }
    &:after {
      content: $gys-arrow-right;
      left: auto;
      right: 10px;
      z-index: $z-index--base;
    }

    label {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; 
      top: 0;
      cursor: pointer;
      text-align: center;
      z-index: $z-index--base + 10;

      &:before {
        @extend .gysIcon;
        content: "";
        width: 26px;
        height: 26px;
        line-height: 26px;
        position: absolute;
        left: 5px;
        top: 5px;
        border-radius: 50%;
        background: $color-bg-2;
        color: $color-text-3;
        transition: left .3s ease-in-out;
        font-size: 18px;
        z-index: $z-index--base + 15;
        text-align: center;
      }
    }
    &--poi label:before {content: $icon-group--poi;}
    &--beach label:before {content: $icon-group--beach;}
    &--hike label:before {content: $icon-group--hike;}
    &--bike label:before {content: $icon-group--bike;}


    input {
      display: none;

      &:checked + label {

        &:before {
          left: 39px;
        }
      }
    }
    &--poi input:checked + label:before {@include gradient(poi);}
    &--beach input:checked + label:before {@include gradient(beach);}
    &--hike input:checked + label:before {@include gradient(hike);}
    &--bike input:checked + label:before {@include gradient(bike);}

  }


}