.gysSettings {
  width: 100%;
  max-width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: $color-bg-1;
  color: $color-text-3;
  transition: margin .3s ease-in-out;
  margin-left: -300px;
  z-index: $z-index--base +44;

  &--open {
    margin-left: 0;
    box-shadow: $box-shadow--wrapper;
  }

  &__inner {
    max-height: 100%;
    overflow-x: visible;
    overflow-y: auto;
    padding-top: 60px;
  }

  // head
  &__head {
    width: 100%;
    max-width: 300px;
    height: 60px;
    position: fixed;
    margin-top: -60px;
    padding: 20px 20px 10px 50px;
    text-transform: uppercase;
    z-index: $z-index--base +55;
    background: $color-bg-1;
  }

  &__logo {
    height: 30px;
    position: absolute;
    left: 20px;
    top: 10px;

    img {
      width: auto;
      height: 30px;
    }
  }

  // trigger
  &__trigger {
    width: 36px;
    height: 36px;
    position: absolute;
    //top: 24px;
    top: 60px;
    right: -36px;
    background: $color-bg-1;
    cursor: pointer;

    &:before {
      @extend .gysIcon;
      content: $gys-menue;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &--open &__trigger:before {
    content: $gys-arrow-left;
    font-size: 16px;
  }
}



.gysSettingsList {
  margin-bottom: 1px;

  // trigger
  &__trigger {
    padding: 10px 20px 10px 50px;
    cursor: pointer;
    text-transform: uppercase;
    position: relative;
    font-weight: $font-weight--bold;

    &:before {
      @extend .gysIcon;
      font-size: 20px;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
    }

    // arrow
    span {
      width: 16px;
      height: 16px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translateY(-50%);
      //background: red;

      &:before,
      &:after {
        content: "";
        width: 12px;
        height: 1px;
        background: $color-bg-3;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        margin-left: -4px;
        transition: margin .2s ease-in-out;
      }
      &:after {
        margin-left: 4px;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
    &.isActive span:before {margin-left: 4px;}
    &.isActive span:after {margin-left: -4px;}
    // &.isActive span:before {transform: translate(-50%, -50%) rotate(-45deg);}
    // &.isActive span:after {transform: translate(-50%, -50%) rotate(45deg);}
  }
  &--poi &__trigger {@include gradient(poi); &:before {content: $icon-group--poi;}}
  &--beach &__trigger {@include gradient(beach); &:before {content: $icon-group--beach;}}
  &--hike &__trigger {@include gradient(hike); &:before {content: $icon-group--hike;}}
  &--bike &__trigger {@include gradient(bike); &:before {content: $icon-group--bike;}}






  // content
  &__content {
    display: none;

    ul {
      list-style: none;
      background: $color-bg-4;
    }

    li {
      padding: 10px 20px 10px 50px;
      position: relative;
      border-bottom: 1px solid #405d64;
      transition: background .1s ease-in-out;

      &:hover {
        background: darken($color-bg-4,10);
      }

      &:before {
        position: absolute;
        left: 17px;
        top: 50%;
        font-size: 16px;
        transform: translateY(-50%);
      }
    }
  }


  // chk
  &__chk {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: $z-index--base + 5;

    label {
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0; 
      top: 0;
      cursor: pointer;
      text-align: center;
      z-index: $z-index--base + 10;

      &:before,
      &:after {
        @extend .gysIcon;
        content: $gys-close;
        width: 16px;
        height: 16px;
        line-height: 16px;
        background: $color-bg-5;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 8px;
        color: rgba($color-text-3,.25);
      }
      &:after {
        @extend .gysIcon;
        content: $gys-check;
        background: transparent;
        font-size: 13px;
        line-height: 16px;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%) scale(0);
        color: $color-bg-6;
      }
    }


    input {
      display: none;

      &:checked + label {

        &:before {
          content: "";
        }

        &:after {
          transform: translateY(-50%) scale(1);
          transition: transform .3s ease-in-out;
        }
      }
    }
  }

}